{% extends "node.html.twig" %}

{% block before_content %}
  <footer class="node__meta">
    {{ author_picture }}
    <div{{ author_attributes.addClass('block') }}>
      {% trans %}By {{ author_name }} on {{ date }}{% endtrans %}
      {{ metadata }}
    </div>
  </footer>
{% endblock %}

{% block content %}
	<div class="flex flex-col gap-12">
    {% if content.image[0] %}
      <div class="image flex-0">
        {{ content.image }}
      </div>
    {% endif %}

		<div class="content flex-1 inline-flex flex-col gap-4">
      {{ content|without('image') }}
		</div>
	</div>
{% endblock %}
